<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parallel test runs">
	<parameter name="jobId" value="job-e337584a-9b29-41ae-ad2d-6a78ab4c63dc"></parameter>
	
	<listeners>
       <listener class-name="gridnodes.listeningcount"/>
       <listener class-name="gridnodes.StepLibSuiteListener"/>
  </listeners>
	<test name="test1">
		<classes>
			<class name="com.step.sauce.SauceEmulatorWebTest1"></class>
		</classes>
	</test>
		<test name="test2">
		<classes>
			<class name="com.step.sauce.SauceEmulatorWebTest2"></class>
		</classes>
	</test>
</suite>

